.maxwidth {
	width: 100%;
}

.center {
	margin: auto;
}

.centertext {
	text-align: center;
}

#webbanner {
	font-size: large;
}

#topbanner {
	border-radius: 0 0 5px 5px;
	border: groove 1em red;
	background-color: #FFC0C0;
}